<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收货地址</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/base_1.css">
    <link rel="stylesheet" type="text/css" href="/static/css/address.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/foot.css">
    <script type="text/javascript" src="../../static/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../../static/js/ie6.js"></script>

    {% comment %}<script type="text/javascript" src="../../static/js/city.js"></script>
    <script type="text/javascript" src="../../static/js/method.js"></script>{% endcomment %}
</head>

<body>
<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎来到图书商城</div>
        <div class="fr">
            <div class="login_btn fl">
                {% if username %}
                欢迎您：<em>{{ username }}</em>
                <span>|</span>
                <a href="{% url 'bUser :logout' %}">退出</a>
                {% else %}
                <a href="{% url 'bUser :login' %}">登录</a>
                <span>|</span>
                <a href="{% url 'bUser :register' %}">注册</a>
                {% endif %}
            </div>
            <div class="user_link fl">
                <span>|</span>
                <a href="{% url 'bShop:showcart' %}">我的购物车</a>
                <span>|</span>
                <a href="{% url 'bShop:index' %}">首页</a>
            </div>
        </div>
    </div>
</div>
<div class="mydang">
    <div class="head">
        <a class="logo" href="#">
            <img src="../../static/images/logo.png" alt="">
        </a>
    </div>
    <div class="my_left">
        <div class="my_menu">
            <h3 class="my_menu_title">
                <a href="#" id="J_myhomeBtn">我的当当</a>
            </h3>
            <dl>
                <dt id="class600" name="orders">我的交易</dt>
                <dd>
                    <a href="#">我的订单</a>
                </dd>
                <dt id="class640" name="personalinformation">个人中心</dt>
                <dd>
                    <a href="{% url 'bUser :personalinfo' %}" id="a_personal">个人信息</a>
                </dd>
                <dd>
                    <a href="{% url 'bUser :eidtpwd' %}" id="a_eidpwd">修改密码</a>
                </dd>
                <dd>
                    <a href="{% url 'bUser :adress' %}" id="a_adress">收货地址</a>
                </dd>
            </dl>
        </div>
    </div>
    <div class="my_main">
        <div class="my_title">
            <span class="title">收货地址管理</span>
        </div>
        <div class="address_list">
            <h3>收货地址</h3>
            <dl>
                <dt>当前地址：</dt>
                <dd>{{ addresss }}</dd>
            </dl>
        </div>
        <div class="shadow_box">
            <div class="body">
                <form  id='reFrom' action="{% url 'bUser :address' %}"  method="post">
                    {% csrf_token %}
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tr>
                            <td class="t">收件人：</td>
                            <td class="z_index2">
                                <input name="get_name" id="getname" value="{{ address.get_name}}"  type="text"  class="text">
                            </td>
                        </tr>
                        <tr>
                        <tr>
                            <td class="t">手机号：</td>
                            <td class="z_index2">
                                <input name="get_phone" id="getphone" value="{{ address.get_phone}}" type="text"  class="text">
                            </td>
                        </tr>
                        <tr>
                            <td class="t">邮政编码:</td>
                            <td class="z_index2">
                                <input name="get_code" id="getcode" value="{{ address.get_code}}"  type="text"  class="text">
                            </td>
                        </tr>
                        <tr>
                            <td class="t">收货地址:</td>
                            <td class="z_index2" id="distpicker">
                                <!--                                &lt;!&ndash;省份选择&ndash;&gt;-->
                                <!--                                <select class="form-control" id="province"  name="province"  value="{{ address.province}}">-->
                                <!--                                    -->
                                <!--                                </select>-->
                                <!--                                &lt;!&ndash;城市选择&ndash;&gt;-->
                                <!--                                <select class="form-control" id="city"  name="city" value="{{ address.city }}" >-->
                                <!--                                    -->
                                <!--                                </select>-->
                                <!--                                &lt;!&ndash;县区选择&ndash;&gt;-->
                                <!--                                <select class="form-control" id="district" name="district" value="{{ address.district }}" >-->
                                <!--                                    -->
                                <!--                                </select>-->
                                <select id="selProvince" class="form-control" name="province">
                                    <option>{{ address.province }}</option>
                                </select>
                                <select id="selCity" class="form-control" name="city">
                                    <option>{{ address.city }}</option>
                                </select>
                                <select id="selCounty" class="form-control" name="district">
                                    <option>{{ address.district }}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="t"></td>
                            <td class="z_index2">
                                <textarea name="detail" id="adddetail">{{ address.detail }}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="t"></td>
                            <td class="z_index2">
                                <input type="button" id="address_btn" value="提交" >
                                {#                                     <input type="button" name="" value="提交" class="adrSubmit">#}
                            </td>
                        </tr>
                    </table>
                </form>

            </div>
        </div>
    </div>

</div>
<script>

    var aProvince = ["河北省", "山西省", "湖北省"];
    //aProvince[0]; 河北省
    //aProvince[1]; 山西省
    var aCity = [["石家庄市", "张家口市", "承德市", "秦皇岛市"], ["太原市", "朔州市", "大同市", "阳泉市"], ["武汉市", "孝感市", "宜昌市", "襄阳市"]];
    var aCountry = [[["无极县", "赵县", "栾城县"], ["沽源县", "尚义县", "阳原县"], ["平泉县", "滦平县", "隆化县"], ["抚宁县", "卢龙县", "昌黎县"]],
    [["清徐县", "阳曲县", "娄烦县"], ["山阴县", "应县", "右玉县"], ["左云县", "阳高县", "天镇县"], ["盂县", "平定县", "矿区"]], [["武昌区", "洪山区", "东湖新区"], ["云梦县", "大悟县", "应城市"], ["秭归县", "远安县", "枝江市"], ["枣阳市", "老河口市", "谷城县"]]];
    var num1 = 0;
    var num2 = 0;
    $(function () {
        //循环出省
        for (var i = 0; i < aProvince.length; i++) {
            $("#selProvince").append(" <option>" + aProvince[i] + "</option>");
        }
        $("#selProvince").change(function () {
            $("#selCity").children("option").not(":eq(0)").remove();//去掉叠加 清空 但不包括 请选择
            $("#selCounty").children("option").not(":eq(0)").remove();//把请选择留着 其余的移除掉
            num1 = parseInt($(this).children("option:selected").index());//获取索引值
            if (num1 > 0) {
                var ac = aCity[num1 - 1];//去掉请选择
                for (var i = 0; i < ac.length; i++) {
                    $("#selCity").append(" <option>" + ac[i] + "</option>");
                }
            }
        });

        $("#selCity").change(function () {
            $("#selCounty").children("option").not(":eq(0)").remove();//把请选择留着 其余的移除掉
            num2 = parseInt($(this).children("option:selected").index());//获取索引值
            if (num2 > 0) {
                var ac = aCountry[num1 - 1][num2 - 1];//去掉请选择
                for (var j = 0; j < ac.length; j++) {
                    $("#selCounty").append(" <option>" + ac[j] + "</option>");
                }
            }
        });
    });

</script>

<div class="footer_nav_box">
    <div class="footer_nav">
        <a href="#" target="_blank" rel="nofollow">公司简介</a>
        <span class="sep">|</span>
        <a href="#" target="_blank">诚聘英才</a>
        <span class="sep">|</span>
        <a href="#" target="_blank">手机当当</a>
        <span class="sep">|</span>
        <a href="#" target="_blank">网站联盟</a>
        <span class="sep">|</span>
        <a href="#" target="_blank">官方Blog</a>
    </div>
    <div class="footer_copyright">
        <span>Copyright (C) 当当网 2004-2017, All Rights Reserved</span>
    </div>

    <!-- 有三个icon的时候加footer_icon2 -->
    {#            <div class="footer_icon footer_icon2" style="padding-left: 55px;">#}
    {#            <div class="validator"><a href="#" target="_blank" class="footer_img"><img src="../../static/images/validate.gif"></a></div>#}
    {#            <div class="validator"><a href="#" target="_blank" class="footer_img"><img src="../../static/images/validate.gif"></a></div>#}
    {#            <div class="validator"><a id="_pingansec_bottomimagesmall_brand" href="#"  target="_blank"><img src="../../static/images/validate.gif"></a></div>#}
    {#        </div>#}
    <div class="clear"></div>
</div>
<script type="text/javascript" src="../../static/js/distpicker.data.js"></script>
<script type="text/javascript" src="../../static/js/distpicker.js"></script>
<script type="text/javascript" src="../../static/js/address.js"></script>


</body>
